<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('ejs/partials/head.ejs') %>
    <title>Expircuzépram® 200mg FLASH</title>
    <meta name="description" content="Expircuzépram® 200mg FLASH" />
</head>

<body>
  <!-- ########## HEADER ########## -->
  <header>
    <%- include('ejs/partials/header.ejs') %>
  </header>

  <!-- ########## CONTENT ########## -->
  <main class="product-page">
    <section class="product">
      <img src="assets/img/medic.png" alt="Boite Expircuzépram" />
      <div class="product-card">
        <div class="product-infos">
          <h1>Expircuzépram® 200mg FLASH</h1>
          <p>Pour un soulagement rapide des encéphalorectomies.</p>
          <details>
            <summary>Voir la composition</summary>
            <ul>
              <li>Poudreperlinpinpinium 200mg</li>
              <li>
                Excipients : eau distillée, saccharose, arsenic, huiles
                essentielles
              </li>
            </ul>
          </details>
        </div>

        <div class="product-purchase">
          <p class="number"><s>34,99 €</s>24,49 €</p>
          <div class="product-quant">
            <label for="ref3-quant">Quantité</label>
            <input type="number" value="1" min="1" step="1" autocomplete="off" id="ref3-quant" />
          </div>
          <button class="btn" id="ref3">Ajouter au panier</button>
          <%- include('ejs/partials/basket-popup.ejs') %>
        </div>
      </div>
    </section>

    <section class="products-gallery">
      <h2>Nos autres produits</h2>
      <div class="products">
        <%- include('ejs/partials/shop.ejs') %>
      </div>
    </section>
  </main>

  <!-- ########## FOOTER ########## -->
  <footer>
    <%- include('ejs/partials/footer.ejs') %>
  </footer>
  <%- include('ejs/partials/scripts.ejs') %>
</body>

</html>